PORT=5000
MONGODB_URI_LOCAL=mongodb://127.0.0.1:27017/dreamcar
MONGODB_URI_PROD=mongodb+srv://akhiljoseph225292_db_user:ERenSPjTrmTg0rHR@dreamcar.mnzzggs.mongodb.net/dreamcar?retryWrites=true&w=majority&appName=dreamcar
GOOGLE_CLIENT_ID=544840178047-qor87acme9vumb26oe6sslvqu75tm40a.apps.googleusercontent.com
APP_JWT_SECRET=9f3c7e2b6a4d1f8c5e7b9a2d4c6f1e3b8a7d5c2f9e6b4a1d3f7c8e2b6a9d5f1
ADMIN_EMAILS=akhiljoseph225292@gmail.com
FRONTEND_URL=http://localhost:5173
ALLOWED_ORIGINS=http://localhost:5173,https://dreamcar-omega.vercel.app
CLOUDINARY_CLOUD_NAME=dhmhfpb95
CLOUDINARY_API_KEY=786841497997845
CLOUDINARY_API_SECRET=vo9gV23KajmqI_RVaPoLOF-D_6c
   